// text colors
$light-green: #07d159;
// welcome screen text
$white: #FFF;
// selected color
$light-white: #dfe0e6;
// default color
$lightest-grey: #88898c;
$error-red: #ce1a2b;

// background colors
// left side bar
// card background
$lighter-grey: #1c1c1f;
$black: #121314;
