// text colors
$light-green: #07d159;
// welcome screen text
$white: #FFF;
// selected color
$light-white: #dfe0e6;
// default color
$lightest-grey: #88898c;
$error-red: #ce1a2b;
$medium-grey: #2f2f2f;

// background colors
// left side bar
// card background
$light-grey: #151515;
$lighter-grey: #2e2e2e;
$black: #121314;
