div.welcome-screen button {
    background-color: transparent;
    border: solid 1.5px #FFF;
    border-radius: 50px;
    color: #FFF;
    font-size: 13px;
    letter-spacing: .03em;
    line-height: 1.25em;
    margin: 20px auto;
    max-width: 320px;
    height: 41px;
    padding: 2px 15px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
}

div.play-follow button,
form.playlist-form-box button {
    background-color: transparent;
    border: solid 1.5px $lightest-grey;
    border-radius: 50px;
    font-size: 13px;
    letter-spacing: .03em;
    line-height: 1.25em;
    height: 34px;
    padding: 2px 40px 0;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all .1s;
    color: $light-green;

    &:hover {
      transform: scale(1.1);
      border-color: $white;
      color: $lighter-green;
    }
}

div.welcome-screen button.guest {
  background-color: $lighter-green;
  border-color: $lighter-green;
  color: $white;
}

div.play-follow button.play,
form.playlist-form-box button.create {
  background-color: $light-green;
  border-color: $light-green;
  color: $light-white;
  transition: all .1s;
}

div.play-follow button.play:hover,
form.playlist-form-box button.create:hover {
  background-color: $lighter-green;
  border-color: $lighter-green;
  color: $white;
  transform: scale(1.1);
}

button {
  cursor: pointer;
}
