div.welcome-screen button {
    background-color: transparent;
    border: solid 1.5px #FFF;
    border-radius: 50px;
    color: #FFF;
    font-size: 13px;
    letter-spacing: .03em;
    line-height: 1.25em;
    margin: 20px auto;
    max-width: 320px;
    height: 41px;
    padding: 2px 15px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
}

div.play-follow button {
    background-color: transparent;
    border: solid 1.5px $lightest-grey;
    border-radius: 50px;
    color: $light-green;
    font-size: 13px;
    letter-spacing: .03em;
    line-height: 1.25em;
    height: 38px;
    padding: 2px 40px 0;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}

div.welcome-screen button.guest,
div.play-follow button.play {
  background-color: $light-green;
  border-color: $light-green;
  color: $white;
}

button {
  cursor: pointer;
}
