.large-logo img {
    display: block;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 268px;
    margin: 0 auto;
}

.small-logo img {
  height: 30px;
  margin-bottom: 30px;
  width: 100px;
  margin: 0 auto;
}
