div#app {
  height: 100%;
  min-width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: $prelude-font;
}

div#main-content-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
