.cc-header {
  padding-left: 32px;
  color: $text-light-grey;



  ul.cc-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    li {
      border-bottom: 3px solid $light-green;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 14px;
      padding: 10px;

      &.select {
        color: $text-light-white;
      }
    }
  }
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;

  .mc-wrapper {
    width: 155px;
    background: $background-lighter-grey;
    margin: 12px;

    &:hover {
      background: $background-lightest-grey;
    }
  }

  .media-card {
    padding: 16px;
    h2 {
      height: 72px;
      font-size: 28px;
      color: $text-light-grey;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      // below works on webkit browsers
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    h3 {
      height: 38px;
      color: $text-light-white;
      margin-bottom: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      // below works on webkit browsers
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    p.footer {
      color: $text-light-grey;
      font-size:  14px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
