div#app header.app-header {
  display: flex;
  background-color: $background-lighter-grey;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 36px;
  padding-right: 16px;
  border-bottom: 1px solid $black;

  .left-nav {
    width: 110px;
    box-sizing: border-box;
    padding: 4px;
  }

  .right-nav {
    display: flex;
    flex-direction: row;
    color: $text-light-grey;
    position: relative;
  }

  .current-user-info {
    margin: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &:hover {
      color: $text-light-white;
    }

    p {
      margin-right: 10px;
    }
  }
}


div#app header.app-header .right-nav .user-dropdown {
  background-color: $background-lighter-grey;
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 25px;
  border: 1px solid white;
}
