
div#now-playing {
  flex: 0 0 240px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

div#now-playing .album-art {
  height: 50px;
  flex: 0 0 50px;
  margin-right: 10px;
  background-color: blue;
}

div#now-playing .song-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 14px 0;
  overflow: hidden;
  position: relative;
}

div#now-playing .song-info:after {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: linear-gradient(to right, rgba(0,0,0,0) 85%, $lighter-grey 100%);
  pointer-events: none;
}

div#now-playing .song-info .song-title {
  font-size: 14px;
  white-space: nowrap;
  width: 140px;
  display:inline-block;
  -webkit-transition: 8s;
  -moz-transition: 8s;
  transition: 8s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}

// https://codepen.io/AndrewHyte/pen/DcExu
div#now-playing .song-info .song-title:hover {
  margin-left: -300px;
}

div#now-playing .song-info .artist-name {
  color: $lightest-grey;
  font-size: 13px;
  white-space: nowrap;
  width: 140px;
  display:inline-block;
  -webkit-transition: 8s;
  -moz-transition: 8s;
  transition: 8s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}

div#now-playing .song-info .artist-name:hover {
  margin-left: -300px;
}
