div.hidden {
  display: none;
  position: absolute;
}

div#player {
  color: $white;
  flex: 0 0 70px;
  background-color: $lighter-grey;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

div#player-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 20px;
  width: 100%;
  height: 70px;
  align-items: center;
  box-sizing: border-box;
}

div#player-volume {
  flex: 0 0 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

div#player-volume .volume {
  width: 70px;
}

div#player-volume button.muted {
  background-image: url(asset_path('mute_icon.svg'));
}

div#player-volume button.muted:hover {
  background-image: url(asset_path('mute_icon_white.svg'));
}

div#player-volume button.not-muted {
  background-image: url(asset_path('speaker_icon.svg'));
}

div#player-volume button.not-muted:hover {
  background-image: url(asset_path('speaker_icon_white.svg'));
}
