div.signup-flow .has-account {
  margin-top: 30px;
  text-align: center;
}

div.signup-flow button:nth-last-child(1) {
  margin-top: 0;
  margin-bottom: 30px;
}

div.signup-flow hr {
  width: 50px;
}
