div.song-list-index {
  table {
    tr:hover {
      button.playlist-add {
        background-image: url(asset_path('add-plus-button.svg'));
      }
    }

    div.add-btn-wrapper {
      position: relative;
    }

    td.add-btn {
      cursor: pointer;
    }

    button.playlist-add {
      width: 13px;
      height: 13px;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}
