html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

a {
  cursor: pointer;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

div.welcome-screen {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
    url("https://play.spotify.edgekey.net/client/a59725d/images/login-background.jpg");
  background-position: center;
  background-size: cover;
  font-family: $prelude-font;
  color: $white;
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
  position: relative;
}

div.welcome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1040px;
}

div.welcome-screen .login-method {
  box-sizing: border-box;
  display: inline-block;
  width: 410px;
  padding: 45px;
}

div.welcome-screen .text-small {
  font-size: 12px;
}

div.welcome-screen .footer {
  margin-top: 20px;
  text-align: center;
}
